use flake .

# Telegram
export TG_BOT_TOKEN=951518240:AAE2in8lgm7-i4zOq_aw3hPpovqKCcZiuUc
export TG_KEY_CHAT_ID=-1001455284010
export TG_LOG_CHAT_ID=-1001359679497

# Home Assistant
export HA_URL=https://hass-ares.frues.peprolinbot.com
export HA_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJiMTY3NTlhM2E3ODM0NDllOTdkMDU0NWFmZDJkM2MwOSIsImlhdCI6MTc1MzE2OTQxMiwiZXhwIjoyMDY4NTI5NDEyfQ.A7F5DOylbiLPeh45dCRnYVNP3rGnyQiezVhnB36DHVQ
export HA_DOOR_ENTITY_ID=cover.puerta_verde

# Others
export DOOR_OPEN_CLOSE_TIME=60